<% if !current_user %>
<center>
<h1>Welcome to the Case Cycling Members Portal</h1>
<p>In order to proceed further, you must sign up or log in</p>

<%= link_to "Log In", log_in_path %> <br /><br />
<%= link_to "Sign Up", sign_up_path %>
</center>

<% end %>

<% if current_user && !current_user.is_verified %>
	You have created an account, but must be verified by an officer
<% end %>

<% if current_user && current_user.is_verified %>
	<div class="grid_8">
	<% @blogs.each do |blog| %>
	<span class="title">
		<%= blog.title.upcase%>
	</span>
	
	<br />
	<div class="content">
		<%= simple_format(blog.contents) %>
	</div>
	
	<% end %>
	</div>
	<div class="grid_4">
		<span class="title">Next Workout</span>
		<% unless @workout.nil? %>
		
		<div class="workout">
			<%= @workout.date.strftime("%F") %>
			<%= simple_format(@workout.description) %>
		</div>
		<% end %>
	</div>
	<div class="grid_4">
		<span class="title">Important Documents</span>
		<div class="workout">
			<ul>
			<% @documents.each do |d| %>
				<li><a href="http://<%= d.url %>"><%= d.name %></a></li>
			<% end %>
		</ul>
		</div>
	</div>
<% end %>

