<p><%= @name %>, </p>

<p>Welcome to the Case Cycling Club's website, thank you for taking the time to register. By joining this site, you'll have easy access to all of the club's documents, tools, sponsorship offers, and other information.</p>

<p>In order to verify that you have a valid Case Western Reserve University email, please click the link below to confirm your account. <b>You will still need to be verified as a dues paying Case Cycling member by an officer before you can access the site.</b></p>

<p>To confirm your account, please follow this link: <a href="http://members.casecycling.com/confirm?email=<%=@email%>&confirmation=<%=@creation_hex%>">http://members.casecycling.com/confirm?email=<%=@email%>&confirmation=<%=@creation_hex%></a></p>

<p>If you have any problems, please contact:</p>
<ul>
	<% unless @webmaster.nil? %>
	<li>Webmaster: <%=@webmaster%></li>
	<% end %>
	<% unless @secretary.nil? %>
	<li>Secretary: <%=@secretary%></li>
	<% end %>
</ul>

<p>Thank you again for registering, I hope that you find the site useful.</p>

<p>Daniel Segal <br />Webmaster Case Cycling 2014</p>