<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="grid_6">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<br />
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity, :min => 0 %>
  </div>
</div>

<div class="grid_6">
<%= f.label :Location %><br />
 <% for member in Member.find(:all) %>
  <div>
  <%= check_box_tag "equipment[member_ids][]", member.id, @equipment.members.include?(member) %>
  <%= member.name %>
</div>
<% end %>
</div>

<div class="grid_12 actions">
  <br />
  <%= f.submit %>
</div>
<% end %>
