
  <h1>Club Equipment</h1>

<div class="grid_12">
  <table class="table" cellpadding="10">
  <tr class="thead">
    <th>Name</th>
    <th>Quantity</th>
    <th>Currently With</th>
    <th></th>
    <% if current_user && (current_user.is_officer || current_user.is_admin) %>
    <th></th><th></th>
    <% end %>
  </tr>
</tr>
<tbody>
<% @equipment.each_with_index do |equipment, index| %>

    <td><%= equipment.name %></td>
    <td><%= equipment.quantity %></td>
    <td>
      <ul id="withList">
        <% if !equipment.member_ids.empty? %>
        <% equipment.member_ids.each do |id| %>
          <li><%= Member.find_by_id(id).name %></li>
        <% end %>
        <% else %>
          <li>Case Cycling Toolbox</li>
        <% end %>
    </ul>
     
    </td>
   <!--  <td><a href="#">Request</td> -->
    <% if current_user && (current_user.is_officer || current_user.is_admin) %>
    <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
    <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>

<br />

<% if current_user && (current_user.is_officer || current_user.is_admin) %>
<%= link_to 'New Equipment', new_equipment_path %>
<% end %>

</div>
