<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="grid_12">
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
</div>

<div class="grid_6">
  <div class="field">
  	<br />
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
</div>

<div class="grid_6">
  <div class="field">
	<br />
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
</div>

  <div class="grid_12 actions">
  	<br />
    <%= f.submit %>
  </div>
<% end %>
