<h1>Events</h1>

<div class="grid_12">
<table class="table" cellpadding="10">
  <tr class="thead">
    <th>Date</th>
    <th>Name</th>
    <th>Location</th>
    <% if current_user && current_user.is_admin %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.date %></td>
    <td><%= event.name %></td>
    <td><%= event.location %></td>
    <% if current_user && current_user.is_admin %>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
</div>

<div>
<% if current_user && current_user.is_admin %>
<%= link_to 'New Event', new_event_path %>
<% end %>
</div>
