<h1>Listing sponsors</h1>

<table>
  <tr>
    <th>Picture url</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sponsors.each do |sponsor| %>
  <tr>
    <td><% if sponsor.picture_url %>
      <a href="<%= sponsor.picture_url %>" title="Picture URL">Open</a>
      <%end %>
    </td>
    <td><%= sponsor.url %></td>
    <td><%= link_to 'Show', sponsor %></td>
    <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
    <td><%= link_to 'Destroy', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sponsor', new_sponsor_path %>
