<h1>Club Documents</h1>

<div class="grid_12">
  <table class="documentsTable" cellpadding="10">
  <tr class="tableHeader">
    <th>Name</th>
    <th>Quantity</th>
    <th>Currently With</th>
    <th></th>
    <% if current_user && (current_user.is_officer || current_user.is_admin) %>
    <th></th><th></th>
    <% end %>
  </tr>

<% @documents.each_with_index do |document, index| %>

<% if index%2 == 0 %>
  <tr class="even">
<% else %>
  <tr class="odd">
<% end %>
    <td><%= document.name %></td>
    <td><%= document.url %></td>
    <td><%= document.description %></td>
  <% if current_user && (current_user.is_officer || current_user.is_admin) %>
    <td><%= link_to 'Edit', edit_document_path(document) %></td>
    <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Document', new_document_path %>
