<%= form_for(@sponsorship_offer) do |f| %>
  <% if @sponsorship_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsorship_offer.errors.count, "error") %> prohibited this sponsorship_offer from being saved:</h2>

      <ul>
      <% @sponsorship_offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="grid_6">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
</div>

<div class="grid_6">
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5 %>
  </div>
</div>

  <div class="grid_12 actions">
  	<br />
    <%= f.submit %>
  </div>
<% end %>
