<h1>Sponsorship Offers</h1>

<div class="grid_12">
  <table class="sponsorshipOfferTable" cellpadding="10">
  <tr class="tableHeader">
    <th>Name</th>
    <th>Description</th>
    <% if current_user && current_user.can_edit %>
      <th></th><th></th>
    <% end %>
  </tr>

  <% @sponsorship_offers.each_with_index do |sponsorship_offer, index| %>
    <% if index%2 == 0 %>
      <tr class="even">
    <% else %>
      <tr class="odd">
    <% end %>

      <td><%= sponsorship_offer.name %></td>
      <td><%= sponsorship_offer.description %></td>
      <% if current_user.can_edit %>
        <td><%= link_to 'Edit', edit_sponsorship_offer_path(sponsorship_offer) %></td>
        <td><%= link_to 'Destroy', sponsorship_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>

<div>
  <br>
  <% if current_user.can_edit %>
    <%= link_to 'New Sponsorship offer', new_sponsorship_offer_path %>
  <% end %>
</div>
