<h1>Sponsorship Offers</h1>

<div class="grid_12">
  <table class="table" cellpadding="10">
  <tr class="thead">
    <th>Name</th>
    <th>Description</th>
    <% if current_user && current_user.can_edit %>
      <th></th><th></th>
    <% end %>
  </tr>

  <tbody>
  <% @sponsorship_offers.each_with_index do |sponsorship_offer, index| %>

      <td><%= sponsorship_offer.name %></td>
      <td><%= sponsorship_offer.description %></td>
      <% if current_user.can_edit %>
        <td><%= link_to 'Edit', edit_sponsorship_offer_path(sponsorship_offer) %></td>
        <td><%= link_to 'Destroy', sponsorship_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
    <br />
</div>

<div>

  <% if current_user.can_edit %>
    <%= link_to 'New Sponsorship Offer', new_sponsorship_offer_path %>
  <% end %>
</div>
