<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid_12 field">
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </div>
  
  <div class="grid_6 field">
  	<br />
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="grid_6 field">
  	<br />
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  
  <div class="grid_12 actions">
  	<br />
    <%= f.submit %>
  </div>
<% end %>
