<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="grid_6">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <br />
  <div class="field">
    <%= f.label :standing %><br />
    <%= f.select :standing, options_for_select([["Select One", ""], "Freshman", "Sophomore", "Junior", "Senior", "Graduate Student", "Postgraduate Student", "Medical Student", "Faculty Member"])%>
  </div>
  <br />
  <div class="field">
    <%= f.label :picture_url %><br />
    <%= f.text_field :picture_url %>
  </div>
</div>

  <b>Permissions</b>
  <% if current_user %>
  <% if current_user.is_admin %>
    <% if !@member.is_confirmed %>
      <div><b>Note: </b>Member hasn't confirmed their email address</div>
    <% end %>
  <div class="grid_6">
   
  <div class="field">
    <%= f.check_box :is_verified %>
    <%= f.label :is_verified %>
    
  </div>

  <div class="field">
    <%= f.check_box :is_admin %>
    <%= f.label :is_admin %>
  </div>
  
  <br />
  <div class="field">
      <b><%= f.label :position %><br /></b>
  <p>Click <a href="/positions">here</a> to add a new position</p>
  <% for position in Position.find(:all) %>
    <div>
      <%= check_box_tag "member[position_ids][]", position.id, @member.positions.include?(position) %>
      <%= position.title %>
    </div>
  <% end %>
</div>
  <% end %>
<% end %>
    
  </div>


  <div class="grid_12 actions">
    <br />
    <%= f.submit %>
  </div>
<% end %>

