<h1>Members</h1>

<div class="grid_12">
<table class="table" cellpadding="10">
  <tr class="thead">
    <th>Name</th>
    <th>Standing</th>
    <th>Picture URL</th>
    <th>Confirmed</th>
    <th>Verified</th>
    <th>Officer</th>
    <th>Admin</th>
    <th>Positions</th>
    <% if current_user && current_user.is_admin %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<tbody>
<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.standing %></td>
    <td>
    	<% if (!member.picture_url.nil?) && (!member.picture_url.empty?) %>
    	<a href="<%= member.picture_url %>" title="Picture URL">Open</a>
    	<% end %>
    </td>
    <td>
        <% if member.is_confirmed %>
        ✓
        <% end %>
    </td>   
    <td>
    	<% if member.is_verified %>
    	✓
    	<% end %>
    </td>
     <td>
        <% if member.is_officer %>
        ✓
        <% end %>
    </td>
    <td>
    	<% if member.is_admin %>
    	✓
    	<% end %>
    </td>
    <td>
<%= member.positions.collect(&:title).join(",") %>
</td>
    <% if current_user && current_user.is_admin %>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>

<br />
</div>

<div>
<% if current_user && current_user.is_admin %>
<%= link_to 'New Member', new_member_path %>
</div>
<% end %>
